html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    position: relative;
    font-family: segoi-ui;
    font-size: 1.6rem;
    background-image: url('img/site-header-background.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
  }

img {
    max-width: 100%; /** La imagen se adapta al tamaño del padre**/
}


@font-face {
    font-family: segoi-ui;
    src: url('../segoe-ui-4-cufonfonts/Segoe\ UI.ttf');
}

.navegador {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: .2%;
    right: 20%;
}

.navegador a[aria-current="page"] {
    background-color: blue;
    color: white;
    border: 0.2rem solid blue;
    border-radius: 0.4rem;
    margin-top: 0.6rem;
    padding: 0.8rem;

}

.navegador a {
    color: #053477;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  text-decoration: none;
}


.imglogo {
    height: 6rem;
    position: relative;
    display: flex;
    left: 20%;
}

.contenedor-imgf{
    background-color: rgba(0, 0, 0, 0.7);
}

.titulo {
    position:absolute;
    top: 2%;
    left: 20%;
    font-size: 5.3rem;
    color: #053477;
    ;
}

.titulo2 {
    position: relative;
    left: 2%;
    font-size: 5rem;
    color: #2A4B7A;

}

.img-envios {
    height: 10rem;
    position: relative;
    display: flex;
    left: 20%;
}